<center>
<img src="../../img/beeline_data_school_logo.png">
# Школа данных "Билайн"
#### Интенсивный курс по изучению машинного обучения и анализа данных
<img src="../../img/beeline_logo.jpg" height="240" width="240">
## Авторы материала: преподаватели Факультета Компьютерных Наук НИУ ВШЭ Кашницкий Юрий, магистрант ВМК МГУ Колмаков Евгений
</center>
Материал распространяется на условиях лицензии <a href="https://opensource.org/licenses/MS-RL">Ms-RL</a>. Можно использовать в любых целях, кроме коммерческих, но с обязательным упоминанием автора материала.

## Домашнее задание 3. Сравнение алгоритмов классификации на наборах данных репозитория UCI

В рамках данного задания нужно выбрать один из наборов данных для задачи классификации из [репозитория UCI](http://archive.ics.uci.edu/ml/), выбрать несколько алгоритмов классификации и сравнить их на этом наборе данных.

In [1]:
from __future__ import division, print_function
# отключим всякие предупреждения Anaconda
import warnings
warnings.filterwarnings('ignore')
%pylab inline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np
import pylab as plt
import re

Populating the interactive namespace from numpy and matplotlib

**Выберите любой набор данных для задачи классификации из [репозитория UCI](http://archive.ics.uci.edu/ml/) и загрузите его, используя функцию urlopen. Но можно и скачать набор данных и загрузить с помощью Pandas.**

In [2]:
data = pd.read_csv('C:/Users/MsSurgeon/Downloads/Adult/adult.data',names=['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','income'])

In [3]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
data.describe(include='all')

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
count,32561.000000,32561,3.256100e+04,32561,32561.000000,32561,32561,32561,32561,32561,32561.000000,32561.000000,32561.000000,32561,32561
unique,NaN,9,NaN,16,NaN,7,15,6,5,2,NaN,NaN,NaN,42,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,22696,NaN,10501,NaN,14976,4140,13193,27816,21790,NaN,NaN,NaN,29170,24720
mean,38.581647,NaN,1.897784e+05,NaN,10.080679,NaN,NaN,NaN,NaN,NaN,1077.648844,87.303830,40.437456,NaN,NaN
std,13.640433,NaN,1.055500e+05,NaN,2.572720,NaN,NaN,NaN,NaN,NaN,7385.292085,402.960219,12.347429,NaN,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,1.178270e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,1.783560e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.000000,NaN,2.370510e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,1.484705e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN

In [5]:
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [6]:
data.groupby('income')['age'].agg( 'count')

income
 <=50K    24720
 >50K      7841
Name: age, dtype: int64

In [7]:
data['incomeR']=data.apply(lambda x: 1 if (x['income'] == ' >50K')  else 0,axis=1)

In [8]:
data['incomeR'].unique()

array([0, 1], dtype=int64)

In [9]:
data.drop(['income'],axis=1, inplace=True)

In [10]:
data.groupby('workclass')['age'].agg( 'count')

workclass
 ?                    1836
 Federal-gov           960
 Local-gov            2093
 Never-worked            7
 Private             22696
 Self-emp-inc         1116
 Self-emp-not-inc     2541
 State-gov            1298
 Without-pay            14
Name: age, dtype: int64

In [11]:
data.groupby('education')['age'].agg( 'count')

education
 10th              933
 11th             1175
 12th              433
 1st-4th           168
 5th-6th           333
 7th-8th           646
 9th               514
 Assoc-acdm       1067
 Assoc-voc        1382
 Bachelors        5355
 Doctorate         413
 HS-grad         10501
 Masters          1723
 Preschool          51
 Prof-school       576
 Some-college     7291
Name: age, dtype: int64

In [12]:
data['educationR'] = data.apply(lambda x: ' School' if (re.search('th$',x.education))  else x.education,axis=1)

In [13]:
data.groupby('educationR')['age'].agg( 'count')

educationR
 Assoc-acdm       1067
 Assoc-voc        1382
 Bachelors        5355
 Doctorate         413
 HS-grad         10501
 Masters          1723
 Preschool          51
 Prof-school       576
 School           4202
 Some-college     7291
Name: age, dtype: int64

In [14]:
data.drop(['education'],axis=1, inplace=True)

In [15]:
data.groupby('occupation')['age'].agg( 'count')

occupation
 ?                    1843
 Adm-clerical         3770
 Armed-Forces            9
 Craft-repair         4099
 Exec-managerial      4066
 Farming-fishing       994
 Handlers-cleaners    1370
 Machine-op-inspct    2002
 Other-service        3295
 Priv-house-serv       149
 Prof-specialty       4140
 Protective-serv       649
 Sales                3650
 Tech-support          928
 Transport-moving     1597
Name: age, dtype: int64

In [16]:
data.groupby('relationship')['age'].agg( 'count')

relationship
 Husband           13193
 Not-in-family      8305
 Other-relative      981
 Own-child          5068
 Unmarried          3446
 Wife               1568
Name: age, dtype: int64

In [17]:
data.groupby('marital-status')['age'].agg( 'count')

marital-status
 Divorced                  4443
 Married-AF-spouse           23
 Married-civ-spouse       14976
 Married-spouse-absent      418
 Never-married            10683
 Separated                 1025
 Widowed                    993
Name: age, dtype: int64

In [18]:
data['marital-statusR'] = data.apply(lambda x: ' Married' if (re.search('Married',x['marital-status']))
                                     else x['marital-status'],axis=1)

In [19]:
data.groupby('marital-statusR')['age'].agg( 'count')

marital-statusR
 Divorced          4443
 Married          15417
 Never-married    10683
 Separated         1025
 Widowed            993
Name: age, dtype: int64

In [20]:
data.drop(['marital-status'],axis=1, inplace=True)

In [21]:
data.groupby('native-country')['age'].agg( 'count')

native-country
 ?                               583
 Cambodia                         19
 Canada                          121
 China                            75
 Columbia                         59
 Cuba                             95
 Dominican-Republic               70
 Ecuador                          28
 El-Salvador                     106
 England                          90
 France                           29
 Germany                         137
 Greece                           29
 Guatemala                        64
 Haiti                            44
 Holand-Netherlands                1
 Honduras                         13
 Hong                             20
 Hungary                          13
 India                           100
 Iran                             43
 Ireland                          24
 Italy                            73
 Jamaica                          81
 Japan                            62
 Laos                             18
 Mexico                          643
 Nicaragua                        34
 Outlying-US(Guam-USVI-etc)       14
 Peru                             31
 Philippines                     198
 Poland                           60
 Portugal                         37
 Puerto-Rico                     114
 Scotland                         12
 South                            80
 Taiwan                           51
 Thailand                         18
 Trinadad&Tobago                  19
 United-States                 29170
 Vietnam                          67
 Yugoslavia                       16
Name: age, dtype: int64

In [22]:
def reduceCountry(x):
    centralAmerica = ['El-Salvador', 'Guatemala', 'Honduras', 'Nicaragua', ]
    southAmerica = ['Columbia', 'Ecuador', 'Peru', 'Puerto-Rico']
    indaAsia = ['Cambodia', 'Laos', 'Vietnam', 'Thailand', 'Philippines']
    Caribian = ['Cuba', 'Dominican-Republic', 'Jamaica', 'Puerto-Rico']
    southEuropa = ['Greece', 'Portugal']
    westEuropa = ['Yugoslavia', 'Poland', 'Hungary']
    northEuropa = ['England', 'Ireland', 'Scotland']
    Europa = ['Italy', 'France', 'Germany', 'Holand-Netherlands']
    Africa = ['Trinadad&Tobago', 'South']
    Asia = ['Hong','Taiwan']

    x = x.strip()

    if (x in centralAmerica):
        return 'CentralAmerica'
    elif (x in southAmerica):
         return 'SouthAmerica'
    elif (x in indaAsia):
         return 'IndaAsia'
    elif (x in Caribian):
         return 'Caribian'
    elif (x in southEuropa):
         return 'SouthEuropa'
    elif (x in westEuropa):
         return 'WestEuropa'
    elif (x in northEuropa):
         return 'NorthEuropa'
    elif (x in Europa):
         return 'Europa'
    elif (x in Africa):
         return 'Africa'
    elif (x in Asia):
         return 'Asia'
    else:
        return x

In [23]:
data['native-countryR'] = data['native-country'].apply(reduceCountry)

In [24]:
data.groupby('native-countryR')['age'].agg( 'count')

native-countryR
?                               583
Africa                           99
Asia                             71
Canada                          121
Caribian                        246
CentralAmerica                  217
China                            75
Europa                          240
Haiti                            44
IndaAsia                        320
India                           100
Iran                             43
Japan                            62
Mexico                          643
NorthEuropa                     126
Outlying-US(Guam-USVI-etc)       14
SouthAmerica                    232
SouthEuropa                      66
United-States                 29170
WestEuropa                       89
Name: age, dtype: int64

In [25]:
data.drop(['native-country'],axis=1, inplace=True)

In [26]:
sex_encoder = LabelEncoder()
sex_encoder.fit(data['sex'])
data['sex'] = sex_encoder.fit_transform(data['sex'])

In [27]:
wk_encoder = LabelEncoder()
wk_encoder.fit(data['workclass'])
data['workclass'] = wk_encoder.fit_transform(data['workclass'])

In [28]:
ocup_encoder = LabelEncoder()
ocup_encoder.fit(data['occupation'])
data['occupation'] = ocup_encoder.fit_transform(data['occupation'])

In [29]:
rel_encoder = LabelEncoder()
rel_encoder.fit(data['relationship'])
data['relationship'] = rel_encoder.fit_transform(data['relationship'])

In [30]:
race_encoder = LabelEncoder()
race_encoder.fit(data['race'])
data['race'] = rel_encoder.fit_transform(data['race'])

In [31]:
nc_encoder = LabelEncoder()
nc_encoder.fit(data['native-countryR'])
data['native-countryR'] = nc_encoder.fit_transform(data['native-countryR'])

In [32]:
edu_encoder = LabelEncoder()
edu_encoder.fit(data['educationR'])
data['educationR'] = edu_encoder.fit_transform(data['educationR'])

In [33]:
marr_encoder = LabelEncoder()
marr_encoder.fit(data['marital-statusR'])
data['marital-statusR'] = marr_encoder.fit_transform(data['marital-statusR'])

In [34]:
data.head()

,age,workclass,fnlwgt,education-num,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,incomeR,educationR,marital-statusR,native-countryR
0,39,7,77516,13,1,1,4,1,2174,0,40,0,2,2,18
1,50,6,83311,13,4,0,4,1,0,0,13,0,2,1,18
2,38,4,215646,9,6,1,4,1,0,0,40,0,4,0,18
3,53,4,234721,7,6,0,2,1,0,0,40,0,8,1,18
4,28,4,338409,13,10,5,2,0,0,0,40,0,2,1,4

**Выведите основные характеристики выборки (число объектов, признаков, число классов) и разделите выборку на обучение и контроль с помощью функции train_test_split**

In [35]:
from sklearn.cross_validation import train_test_split
# Extract objects and labels from data
y = data['incomeR']
data.drop(['incomeR'],axis=1, inplace=True)
X = data

In [36]:
print (X.shape)
print (y.shape)

(32561, 14)
(32561L,)

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [38]:
print (X_train.shape)
print (X_test.shape)

(21815, 14)
(10746, 14)

## 1. Классификаторы без настройки параметров

**Выберите несколько (2-3) классификаторов из sklearn. Для удобства (чтобы не переписывать один и тот же код для каждого классификатора) можно создать список классификаторов (который, например, может состоять из пар вида (classifier_instance(), 'classifier name'))**

In [39]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

names = ["Nearest Neighbors",
         #"Linear SVM", 
         "Decision Tree",
         "Random Forest",
         "LogisticRegression"]
classifiers = [
    KNeighborsClassifier(),
    #SVC(),
    DecisionTreeClassifier(),
    RandomForestClassifier(),
    LogisticRegression()]
clf_params = [{'n_neighbors': list(range(5, 50, 10))},
              {'max_depth': list(range(2,5)), 'min_samples_leaf': list(range(1,5))},
              {'max_depth': list(range(2,5)),'min_samples_leaf': list(range(1,5)),'n_estimators': list(range(5,20,5))},
              {'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000] }
             ]

**С помощью 5-кратной кросс-валидации оцените качество каждого классификатора на обучающей выборке. Используйте функцию cross_val_score. Попробуйте использовать разные метрики качества (параметр scoring)**

In [40]:
from sklearn.cross_validation import cross_val_score
#n_folds = 5
scores = []

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

for name, clf in zip(names, classifiers):
    scoresAcc = cross_val_score(clf, X_train_scaled, y_train, scoring='accuracy', cv=5)
    scoresf1 = cross_val_score(clf, X_train_scaled, y_train, scoring='f1', cv=5)
    scoresLog = cross_val_score(clf, X_train_scaled, y_train, scoring='log_loss', cv=5)
    scoresROC = cross_val_score(clf, X_train_scaled, y_train, scoring='roc_auc', cv=5)
    clf_meanAcc_score = scoresAcc.mean()
    clf_meanf1_score = scoresf1.mean()
    clf_meanLog_score = scoresLog.mean()
    clf_meanROC_score = scoresROC.mean()
    #scores.append(clf_mean_score)
    print (name + ' acuuracy: ' + str(clf_meanAcc_score) + 
                  ' f1: ' + str(clf_meanf1_score) +
                  ' Log: ' + str(clf_meanLog_score) +
                  ' ROC: ' + str(clf_meanROC_score))

Nearest Neighbors acuuracy: 0.819986496351 f1: 0.607772815557 Log: -1.47269694622 ROC: 0.842489028898
Decision Tree acuuracy: 0.810497055447 f1: 0.612090738391 Log: -6.59268087928 ROC: 0.744177799392
Random Forest acuuracy: 0.846069435807 f1: 0.6508175992 Log: -0.837762050411 ROC: 0.881436474012
LogisticRegression acuuracy: 0.824662314968 f1: 0.558686337226 Log: -0.385879454021 ROC: 0.854055210715

**Обучите те же классификаторы без параметров на всей обучающей выборке и проверьте их качество на тестовой выборке. Является ли лучшим классификатор, который имеет наибольшее качество на кросс-валидации?**

In [41]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

for name, clf in zip(names, classifiers):
    '''
    clf = clf
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    y_probs = clf.predict_proba(X_test)
    Acc_clf_score = accuracy_score(y_test, y_pred)
    ROC_clf_score = roc_auc_score(y_test, y_probs[:, 1])
    
Nearest Neighbors acuuracy: 0.754606365159 ROC: 0.660454190949
Decision Tree acuuracy: 0.854271356784 ROC: 0.882576268672
Random Forest acuuracy: 0.824399776661 ROC: 0.885966301113
LogisticRegression acuuracy: 0.798715801228 ROC: 0.77020583929

    '''
    clf = clf
    clf.fit(X_train_scaled, y_train)
    y_pred = clf.predict(X_test_scaled)
    y_probs = clf.predict_proba(X_test_scaled)
    Acc_clf_score = accuracy_score(y_test, y_pred)
    ROC_clf_score = roc_auc_score(y_test, y_probs[:, 1])
    '''
Nearest Neighbors acuuracy: 0.822352503257 ROC: 0.822423587786
Decision Tree acuuracy: 0.854364414666 ROC: 0.883299194251
Random Forest acuuracy: 0.826074818537 ROC: 0.886831118001
LogisticRegression acuuracy: 0.826819281593 ROC: 0.853997454521
    '''
    #scores.append(clf_score)
    print (name + ' acuuracy: ' + str(Acc_clf_score) + 
                  #' f1: ' + str(clf_meanf1_score) +
                  #' Log: ' + str(clf_meanLog_score) +
                  ' ROC: ' + str(ROC_clf_score))

Nearest Neighbors acuuracy: 0.827284571003 ROC: 0.848099742581
Decision Tree acuuracy: 0.808300763075 ROC: 0.741822266242
Random Forest acuuracy: 0.846733668342 ROC: 0.876934827128
LogisticRegression acuuracy: 0.826819281593 ROC: 0.853997454521

## 2. Классификаторы с настройкой параметров

**Настройте параметры выбранных вами алгоритмов с помощью GridSearchCV и выберите лучший классификатор**

In [42]:
from sklearn.grid_search import GridSearchCV

n_folds = 5
scores = []

for name, clf, clf_param in zip(names, classifiers, clf_params):
    grid = GridSearchCV(clf, clf_param, verbose=True, cv=4)
    grid.fit(X_train_scaled, y_train)
    print ('Score: ' + str(grid.score(X_train_scaled, y_train)) + 
           ', BestCLF: ' + str(name) +
           ', BestCLF: ' + str(grid.best_params_))

Fitting 4 folds for each of 5 candidates, totalling 20 fits

[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:  2.0min finished

Score: 0.84959889984, BestCLF: Nearest Neighbors, BestCLF: {'n_neighbors': 15}
Fitting 4 folds for each of 12 candidates, totalling 48 fits

[Parallel(n_jobs=1)]: Done  48 out of  48 | elapsed:    2.3s finished

Score: 0.849278019711, BestCLF: Decision Tree, BestCLF: {'max_depth': 4, 'min_samples_leaf': 1}
Fitting 4 folds for each of 36 candidates, totalling 144 fits

[Parallel(n_jobs=1)]: Done  49 tasks       | elapsed:    5.6s
[Parallel(n_jobs=1)]: Done 144 out of 144 | elapsed:   18.7s finished

Score: 0.843272977309, BestCLF: Random Forest, BestCLF: {'n_estimators': 15, 'max_depth': 4, 'min_samples_leaf': 4}
Fitting 4 folds for each of 7 candidates, totalling 28 fits
Score: 0.825120330048, BestCLF: LogisticRegression, BestCLF: {'C': 0.1}

[Parallel(n_jobs=1)]: Done  28 out of  28 | elapsed:    3.1s finished

**Для лучшего классификатора и набора параметров для него выберите более мелкую сетку (для того чтобы уточнить лучшие значения параметров). Для этого классификатора настройте параметры по обучающей выборке с помощью GridSearchCV. Постройте график зависимости среднего качества на кросс-валидации от значений параметров**

In [ ]:
n_neighbs = np.linspace(5, 300, 10)
mean_scores_by_n_neighb = []

for n_neighb in log_progress(n_neighbs):
   
    clf_params = {'n_estimators': n_neighb}
    grid = GridSearchCV(RandomForestClassifier(), clf_params, verbose=True, n_jobs=-1, cv=5)
    grid.fit(X_train_scaled, y_train)
    print ('Score: ' + grid.score(X_train_scaled, y_train) + 
           ', BestCLF: ' + grid.best_estimator_ +
           ', BestCLF: ' + grid.best_params_)
    
    mean_validation_scores.append(grid.score(X_train_scaled, y_train))

scatter(mean_validation_scores[0], mean_validation_scores[1])

**Для полученной модели посчитайте качество на тестовой выборке и сравните его с качеством, полученным без настройки параметров**

In [ ]:
y_pred = clf_best.predict # Ваш код здесь
clf_score = accuracy_score # Ваш код здесь

# Print the score
print # Ваш код здесь

**Можно поварьировать параметр scoring и позапускать написанный код ещё раз. Изменится ли лучший классификатор?**

## Ссылки:

 - <a href="http://archive.ics.uci.edu/ml/">UCI Machine Learning Repository</a> 
 - <a href="http://scikit-learn.org/stable/index.html">Scikit-learn documentation</a>